@model Cafeteria.Models.AlumnoModel;
@{
    ViewData["Title"] = "EditarAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card col-8">
    <div class="card-header">
        Editar Contacto
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="EditarAlumno" asp-controller="Alumno" method="post">
                <input asp-for="Nss" type="hidden" class="form-control" />

            
                    <div class="col-6">
                        <label for="staticEmail2" class="form-label">Nombre</label>
                        <input asp-for="Nombre" type="text" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                
                    <div class="col-6">
                        <label for="staticEmail2" class="form-label">Apellido</label>
                        <input asp-for="Apellido" type="text" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label for="staticEmail2" class="form-label">Correo</label>
                        <input asp-for="Correo" type="email" class="form-control">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label for="staticEmail2" class="form-label">Carrera</label>
                        <input asp-for="Carrera" type="text" class="form-control" />
                        <span asp-validation-for="Carrera" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label for="staticEmail2" class="form-label">No. Semestre</label>
                        <input asp-for="Semestre" type="text" class="form-control" />
                    </div>

                    <div class="col-6">
                        <label for="staticEmail2" class="form-label">Matricula</label>
                        <input asp-for="Matricula" type="number" class="form-control">
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label for="inputPassword2" class="form-label">Contraseña</label>
                        <input asp-for="Contraseña" type="password" class="form-control" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Editar</button>
                        <a asp-action="ListarAlumno" asp-controller="Alumno">Volver a la lista</a>
                    </div>
        </form>
    </div>
</div>
