@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cafetería!</h1>
    <p>Checa nuestro <a href="https://github.com/Tncsito/Cafeteria_2">GitHub</a>  donde construimos este proyecto!.</p>
</div>
