@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The implementation of digital solutions for the University cafeteria will be explored, in order to offer customers a more convenient and efficient experience. As we know, during peak hours, the high demand for food and beverages can lead to long lines and delays in service, which affects both students and campus staff. These solutions may include creating an online platform for ordering and payment, incorporating inventory management systems to maintain proper control of products, and adopting technologies that improve speed and accuracy of service.</p>
