@model Cafeteria.Models.InventarioModel;
@{
    ViewData["Title"] = "EliminarInventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card col-8">
    <div class="card-header">
        Eliminar Inventario
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="EliminarInventario" asp-controller="Inventario" method="post">
            <input asp-for="Id" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                ¿Deseas eliminar el ítem del inventario @Html.DisplayTextFor(m => m.Nombre)?
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-danger mb-3">Eliminar</button>
                <a asp-action="ListarInventario" asp-controller="Inventario" class="btn btn-warning">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
