@model Cafeteria.Models.InventarioModel;
@{
    ViewData["Title"] = "RegistrarInventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card col-8">
    <div class="card-header">
        Crear Nuevo Inventario
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="RegistrarInventario" asp-controller="Inventario" method="post">
            <div class="col-6">
                <label for="staticEmail2" class="form-label">Id</label>
                <input asp-for="Id" type="text" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label for="staticEmail2" class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label for="staticEmail2" class="form-label">Cantidad</label>
                <input asp-for="Cantidad" type="number" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label for="staticEmail2" class="form-label">Precio</label>
                <input asp-for="Precio" type="number" class="form-control" />
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary">Crear Inventario</button>
                <a asp-action="ListarInventario" asp-controller="Inventario" class="btn btn-warning">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


